<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ospk.edu">
	<resultMap type="boardVo" id="boardResultMap">
		<id column="PNO" property="pno" />
		<result column="CONTENT" property="content" />
		<result column="MID" property="id" />
		<result column="REGDATE" property="regiDate"
			javaType="java.util.Date" />
		<result column="CORDATE" property="corDate"
			javaType="java.util.Date" />
		<result column="TAG" property="tag" />
	</resultMap>

	<!-- 태그 검색 -->
	<sql id="search2">
		WHERE TAG LIKE '%'||#{keyword2}||'%'
	</sql>
	
	
	<!-- 게시글 등록 -->
	<insert id="writePostCtr" parameterType="BoardVo">
		INSERT INTO BOARD
		(PNO, MID, CONTENT, TAG, REGDATE)
		VALUES(BOARD_SEQ.NEXTVAL, #{id},  #{content}, #{tag, jdbcType=VARCHAR}, SYSDATE)
<!-- 		VALUES(BOARD_SEQ.NEXTVAL, #{id},  #{content}, #{tag}, SYSDATE) -->
	</insert>
		
	<!-- 개인 게시글 선택(리스트용) -->
	<select id="selectMyPost" parameterType="map"
		resultMap="boardResultMap">
		SELECT BOARD.RNUM, BOARD.PNO, BOARD.CONTENT, BOARD.MID, BOARD.REGDATE,
			BOARD.TAG
		FROM ( SELECT ROWNUM RNUM, B.PNO, B.CONTENT, B.MID,
				B.REGDATE, B.TAG
				FROM ( SELECT PNO, CONTENT, MID, REGDATE, TAG
						FROM BOARD
						ORDER BY PNO DESC) B
		) BOARD
		WHERE BOARD.MID = #{id}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="correctPost" parameterType="boardVo">
		UPDATE BOARD
		SET CONTENT = #{content},
			REGDATE = SYSDATE,
			TAG = #{tag} 
		WHERE PNO = #{pno}
	</update>
	
	<!-- 게시글  삭제 -->
	<delete id="deletePost" parameterType="boardVo" >
		DELETE
		FROM BOARD
		WHERE PNO = #{pno}
	</delete>
	
	
	
<!-- 	<select id="readAllPost" parameterType="boardVo" resultMap="boardResultMap"> -->
<!-- 	SELECT PNO, MID, CONTENT, REGDATE, TAG -->
<!-- 	FROM BOARD -->
<!-- 	</select> -->

	<!-- 모든 게시글 읽기 -->
	<select id="readAllPost" parameterType="map" resultMap="boardResultMap">
		SELECT Board.RNUM, Board.PNO, Board.CONTENT, Board.MID, Board.REGDATE, Board.TAG
		FROM ( SELECT ROWNUM RNUM, B.PNO, B.CONTENT, B.MID, B.REGDATE, B.TAG
		FROM ( SELECT PNO, CONTENT, MID, REGDATE, TAG
		FROM Board
		<include refid="search2"></include>
		order by REGDATE desc
		)B
		) Board
	
	</select>
	
	
	
	<!-- 개별 게시글 읽기 -->
 	<select id="readPost" parameterType="int"
		resultMap="boardResultMap">
		SELECT PNO, CONTENT, MID, REGDATE, TAG
		FROM BOARD
		WHERE PNO =
		#{pno}
	</select>
</mapper>